.vscode/.ropeproject/config.py
*.npy
*.pyc
test.py
testing_mcmc.py
testing_mcmc2.py
generate_data.py
.vscode/settings.json
.pytest_cache/v/cache/nodeids
.vscode/.ropeproject/objectdb
*.txt
testing_output/
catalogues/